
  @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Great+Vibes&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;500;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  //font-family: 'Great Vibes', cursive; fonts da logo

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    // font-family: 'Raleway', sans-serif;
   
}
:root{
    --bg-color: #000000;
    --secound-bg-color: #0A195C;
    --text-color:#ededed;
    --main-color:#00abf0;
}

html{
    font-size: 62.5%;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;

    .logo{
        position: relative;
        font-size: 3.5rem;
        color: var(--text-color);
        font-family:'Great Vibes', cursive;
        font-weight: 1.7rem; 
    }
    // .navbar{
    //     position: relative;
    // }
    .navbar a{
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
    }
}
.header.sticky{
    background: var(--bg-color);
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home{
    display: flex;
    align-items:center;
    padding: 0 9%;
    background: url(/mainphoto.png) no-repeat ;
    background-size: contain;
    background-position: right;
    
}
.home-content{
    
    max-width: 60rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content .text-animate{
    position: relative;
    width: 32.8rem;
}
.home-content .text-animate h3{
    
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}
.home-content .text-animate h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    // border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursoText 6s linear infinite;
    animation-delay: 2s;
}
@keyframes homeBgText{
    0%,
    10%,
    100%{
        background-position: -33rem 0;
    }
    65%,
    85%{
        background-position: 0 0;
        z-index: -3;
    }
}

@keyframes homeCursorText{
    0%,
    10%,
    100%{
        width: 0;
    }
    65%,
    78%,
    85%{
        width: 100%;
        opacity: 1;
    }
    75%,
    81%{
        opacity: 0;
    }

}

.home-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}
 .btn-box .btn{
    position:relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--bg-color);
    border-radius: .8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var[--main-color];
}
.btn-box{
    .btn{
        color: white;
        font-size: 1.3rem;
    }
}
.home-sci  {
    
    display: flex;
    position: absolute;
    bottom: 250px;
    justify-content: space-between;

}
.icon{
    display: flex;
    
}

.instagram img {
    height: 50px;
    
}
.facebook{
    padding-left: 20%;
    padding-right: 20%;
}
.facebook img{
    height: 50px;
    
    
}

// .home-imgHover{
//     // position: absolute;
//     // top: 0;
//     // right: 282px;
//     // width: 48%;
//     // height: 100%;
//     // background: transparent;
//     // transition: 3s;
// }
// an

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--secound-bg-color);
    padding-bottom: 6rem;
}
.heading{
   
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;

    span{
        color: var(--main-color);
    }

    .about-img{
        position: relative;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.about-img img {
        width: 90%;
        border-radius: 50%;
        border: .2rem solid var(--main-color);        
}
// // .about-img  .circle-spin{
// //     position: absolute;
// //     top: 50%;
// //     left: 50%;
// //     transform: translate(-50%,-50%) rotate(0);
// //     width: 100%;
// //     height: 100%;
// //     border-radius: 50%;
// //     border-top: .2rem solid var(--secound-bg-color);
// //     border-bottom: .2rem solid var(--secound-bg-color);
// //     border-left: .2rem solid var(--main-color);
// //     border-right: .2rem solid var(--main-color);
// }

.about h2{
    font-size: 6rem;
    position: absolute;
    top: 105%;
}
.about-content{
    display: contents;
    
}
.about-content h3{
    font-size: 3.6rem;

}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    font-size: 20px;
    width: 80%;
}
.skill{
    // min-height: auto;
    padding-bottom: 7rem;
    
    span{
        color: var(--main-color);
    }
}
.skill .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills-row .skills-column{
    flex: 1 1 40rem;
}
.skills-column .title{
    font-size: 3.5rem;
    margin: 0 0 1.5rem;
}
.skill-box .skill-content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skill-box .skill-content::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgb(3, 20, 48);
    z-index: -1;
    transition: .5s;
}

.skill-box .skill-content:hover:before{
    width: 100%;
}
.skill-content{
    padding-top: 35%;
}
.title{
    padding-top: 5%;
    padding-bottom: 10%;
}
.bar{
    height: 6rem;
}
.skill-content .progress{
    padding: 1rem 0;
}
.skill-content .progress h3 {
    line-height: 6rem;
    font-size: 2.0rem;
    display: flex;
    justify-content: space-between;
}
.skill-content .progress h3 span{
    color: var(--text-color);
}
.skill-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}
.skill-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}
.skills-column:nth-child(1) .skill-content .progress:nth-child(1) .bar span{
    width: 70%;
}

.skills-column:nth-child(1) .skill-content .progress:nth-child(2) .bar span{
    width: 60%;
}

.skills-column:nth-child(1) .skill-content .progress:nth-child(3) .bar span{
    width: 50%;
}

.skills-column:nth-child(1) .skill-content .progress:nth-child(4) .bar span{
    width: 30%;
}


.skills-column:nth-child(2) .skill-content .progress:nth-child(1) .bar span{
    width: 70%;
}

.skills-column:nth-child(2) .skill-content .progress:nth-child(2) .bar span{
    width: 70%;
}

.skills-column:nth-child(2) .skill-content .progress:nth-child(3) .bar span{
    width: 60%;
}

.skills-column:nth-child(2) .skill-content .progress:nth-child(4) .bar span{
    width: 30%;
}

.portfolio{
    background: var(--secound-bg-color);
}
.textworks{
    text-align: center;
    font-size: 5rem;
    span{
        color: #00abf0;
    }
}
.pages{
    display: flex;
    margin-top: 8rem;
    justify-content: space-between;
    .homepage img{
        width: 100%;
    }
    .design img{
        padding-left: 5%;
        width: 100%;
    }
}
.texthome{
    text-align: center;
    font-size: 20px;
}
.textdesign{
    text-align: center;
    font-size: 20px;
}
.finalpage p{ 
    text-align: center;
    font-size: 30px;
    margin-top: 100px;

}
@media(max-width: 813px){
    .pages{
        flex-direction: column;
        width: 70%;
        text-align: center;
        margin: auto ;
        padding-top: 60px;

        .design img {
            width: 100%;
        }
        .texthome{
            font-size: 20px;
            padding-top: 3%;
        }
        .design{
            padding-top: 3%;
            .textdesign{
                padding-top: 3%;
            }
        }

        
    }
    #about  {
        img{
            width: 100%;
            margin-top: 40px;
        }
        p{
            font-size: 23px;
        }
    }
}
@media(max-width: 768px){
    .finalpage p{ 
        font-size: 20px;
    }
}

// @media(max-width: 768px){
//     .opacityText:hover span.mask::before{/*hoverした時の変化*/
//         content:"";
//         position: absolute;
//         z-index:2;
//         top:0;
//         left: 20%;;
//         width: 90%;
//         height: 100%;
//         background: linear-gradient(45deg,rgba(9, 16, 18, 0.6),rgba(90, 2, 81, 0.6));/*背景色（グラデーション）*/
//         border-radius: 23%;
//       }
// }







.contact{
    text-align: center;
    font-size: 5rem;
    span{
        color: #00abf0;
    }
}

.contact{
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;

    
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field{
    position: relative;
    width: 200%;
    margin: .8rem 0;
    // height: 9rem;
}
// .display01 , .display02{
//     display: flex;
//     width: 100%;
// }

.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}
// .display01, .display02{
//     display: flex;
//     width: 100%;
//     justify-content: space-around;
// }
// .display01{
//     width: 100%;
// }
.contact form .input-box .input-field input::placeholder
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);

}
.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}
.footer  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background:var(--secound-bg-color);
}
.footer-text p{
    font-size: 1.6rem;
}
.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .6rem;
}
.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background: red;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--bg-color);
}








@media(max-width: 1200px){
    html {
        font-size: 55%;
    }
}
@media(max-width: 991px){
    .header{
        padding: 2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }
    .home{
        padding: 0 4%;
    }
    .footer{
        padding: 2rem 4%;
    }
}
@media(max-width: 768px){
    .header{
        background: var(--bg-color);
        
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 4%;
        background: var(--bg-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0 ;
    }
    .navbar.active{
      display: block;
    //   display: grid;
       

    }
    // .navbar.active-nav{
    //     // position: absolute;
    //     // display: block;
    //     // top: 0;
    //     // left: 0;
    //     // width: 100%;
    //     // height: 100%;
    //     // background: yellowgreen;
    //     // border-top: .1rem solid red;


    // }
    // .navbar a {
    //     display: block;
    //     font-size: 2rem ;
    //     margin: 3rem 0 ;
    // }

}

@media (max-width: 520px) {
    html{
        font-size: 50%;
    }
    .home-content h1{
        display: flex;
        flex-direction: column;
    }
    .home-sci{
        width: 100px;
        bottom: 200px;
    }
}
@media (max-width: 462px){
    .home-content h1{
        font-size: 5.2rem;
    }
}
@media (max-width: 600px){
    .home{
        justify-content: center;
        background: none;
        overflow: hidden;
    }
    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .btn-box a{
            text-align: center;
            margin: 0 auto;
        }
        
    }
}
    











.opacityText .opacityText02{/*テキストの基点となる位置を定義*/
    position: relative;
  }
  
  .opacityText span.mask{
    position: relative;/*グラデーションの基点となる位置を定義*/
    transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
    display: block;/*画像をくくるspanタグをブロック要素にする*/
    line-height: 0;/*行の高さを0にする*/
    margin: 0 auto;
  }
  
  .opacityText:hover span.mask::before{
    content:"";
    position: absolute;
    z-index:2;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,rgba(33, 34, 34, 0.6),rgba(30, 3, 62, 0.6));/*背景色（グラデーション）*/
    border-radius: 23%;
  }
  .opacityText02:hover span.mask02::before{
    content:"";
    position: absolute;
    z-index:2;
    top:0;
    left:0;
    // width: 90%;
    // height: 100%;
    background: linear-gradient(45deg,rgba(57, 225, 255, 0.6),rgba(255, 1, 18, 0.6));/*背景色（グラデーション）*/
    border-radius: 23%;
  }
  
  .opacityText .opacityText02 img{
   
    opacity:1;
    transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
  }
  
  .opacityText, .opacityText02:hover img{/*hoverした時の変化*/
    
    opacity:0.6;/*透過具合を変更したい場合はこの数値を変更*/
    
  }
  
//   .opacityText .opacityText02 span.cap{
//     opacity:0;
//     margin:  0 auto;
//     transition: .5s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
//     position: absolute;
//     z-index:3;/*テキストを前面に出す*/
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     color: #fff;/*テキストの色を変えたい場合はここを修正*/
//     line-height: 1.5;/*行の高さを1.5にする*/
//     font-size: 23px;
//   }
  
  .opacityText, .opacityText02:hover span.cap{/*hoverした時の変化*/
    opacity:1;
  }
  
  
  /*========= レイアウトのためのCSS ===============*/

  

  
  /*画像のレスポンシブ*/
  
  
  /*　横幅　*/
  
  .opacityText {
      margin: 0 auto;/*中央揃え*/    

  }