@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Great+Vibes&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;500;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    // font-family: 'Raleway', sans-serif;
    background-color: rgb(0, 0, 0);
  }
  :root{
    --bg-color: #000000;
    --secound-bg-color: #0A195C;
    --text-color:#ededed;
    --main-color:#00abf0;
}
.coffee{
    text-align: center;
}
.coffee img {
    text-align: center;
    padding-top: 5%;
    width: 70%;
}
.backbutton {
    padding-top: 3%;

    h2{
    width: 20%;
    color: white;
    text-align: center;
    background: var(--secound-bg-color);
    font-size: 30px;
    padding: 10px;
    
  
}
}

.textsub01  p3,p{

    padding-top: 2%;
    font-size: 25px;
}
.textsub02 p3 ,p{

    font-size: 25px;
    
}
.textsub01 , .textsub02{
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    font-size: 20px;
    padding-top: 3%;
    
}
.full{
    text-align: center;
    margin-top: 10%;
}
.full img {
    width: 70%;

}

@media(max-width: 768px) {
    .textsub01, .textsub02 {
        flex-direction: column;
    }
    .titulo-back  p {
        font-size: 20px;
    }
    .backbutton h2{
        width: 120px;
    }
}